# Entorno virtual
venv/
env/
ENV/

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# Archivos de distribución
dist/
build/
*.egg-info/

# Archivos de IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db 